# Basic Python3
# Copyright: Jagadeesh Vasudevamurthy
# filename: basic.ipynb

# Basic imports

In [2]:
import sys
import os
print(sys.version)

3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]

# Printing

In [ ]:
print('Hello World using single quote')

In [ ]:
print("Hello World using double quote")

In [ ]:
print('''Hello World using triple quote''')

In [ ]:
print('"Hello World within double quote using single quote"')

In [ ]:
print('''"Hello World within double quote using triple quote"''')

In [ ]:
print(3 + -5)

In [ ]:
x = 5
y = 8
print(x,y)
print("Python gives a space after x and EOLN after y")
print("x =", x, "y =", y)
print("Python default separator (sep =)  is a space")
print("Python default eoln (end =)  is a EOLN")

In [ ]:
x = 5
y = 8
print("User can change both sep= and end =")
print('''I am changing sep = space by sep =" -> " ''')
print('''I am changing end = EOLN by end =" ] " ''')
print("x", x, sep = '->', end =']')
print("realend")

In [ ]:
print("To show how to print without and with line feed")
x = 5
y = 8
print(x,y,end="")
x = 5
y = 8
print(x,y)

In [ ]:
x = "UC"
y = "Santa Clara"
print("I am studying at", x, ".Campus is at",y)
print("-----FIX ---")
print("I am studying at", x,end=". ")
print("Campus is at", y)

# Basic Data types: int, float, bool, string

### Concept of name (LHS), value (RHS) 
### types(Infered by python)
### Type of name (LHS) need not have to announced. 
### All names on RHS must be available. Constants are already available(5, 3.14)
### Python will infer type of the name automatically
### As a result, the variables has no fixed type like C or Java

In [ ]:
k = 200
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
print("In C or java you can say int junk; What is the value of junk?")
print("Python will not allow this.")
#junk  
print("you cannot declare name without assignment like int junk in C")

In [ ]:
k = 200
print("type of k", type(k), "Value of k =", k,"id = ", id(k))
print("note 1  below is constant and available")
k = k + 1 #++k
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = 78.90
print("type of k", type(k), "Value of k =", k, "id = ", id(k))
k = 2
print("type of k", type(k), "Value of k =", k, "id = ", id(k))

In [ ]:
k = 678906789.878
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = 1235657786899879757575175157511571575517157111715777777777777777777777777777777777777
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = True
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = False
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = 'a'
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = "a"
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = '''a'''
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

In [ ]:
k = "pack my box with five dozen Liquor jugs"
print("type of k", type(k), "Value of k =", k,"id = ", id(k))

# bool

In [ ]:
k = True
print("type of k", type(k), "Value of k =", k)

In [ ]:
k = False
print("type of k", type(k), "Value of k =", k)

In [ ]:
print("To show how to build AND")
k = True
print("type of k", type(k), "Value of k =", k)
j = False
print("type of j", type(j), "Value of j =", j)
m = k and j 
print("type of m", type(m), "Value of m =", m)

In [ ]:
print("To show how to build OR")
k = True
print("type of k", type(k), "Value of k =", k)
j = False
print("type of j", type(j), "Value of j =", j)
m = k or j 
print("type of m", type(m), "Value of m =", m)

In [ ]:
print("To show how to build XOR")
k = True
print("type of k", type(k), "Value of k =", k)
j = False
print("type of j", type(j), "Value of j =", j)
m = (k and (not j)) or (not(k) and j) #XOR
print("type of m", type(m), "Value of m =", m)

In [ ]:
print("AND truth table")
for k in [False,True]:
    for j in [False,True]:
        m = (k and j)
        print(k,id(k),j,id(j),m,id(m))

In [ ]:
print("OR truth table")
for k in [False,True]:
    for j in [False,True]:
        m = (k or j)
        print(k,j,m)

In [ ]:
print("XOR truth table")
for k in [False,True]:
    for j in [False,True]:
        m = (k and (not j)) or (not(k) and j) #XOR
        print(k,j,m)

In [ ]:
print("XNOR truth table")
for k in [False,True]:
    for j in [False,True]:
        m = not((k and (not j)) or (not(k) and j)) #XNOR
        print(k,j,m)

# Immutable VS Mutable basic types

In [ ]:
x = 10 
y = x #y is pointing to x
print("BEFORE: x = ",x, " y = ",y, type(x), type(y), id(x), id(y))
print("AT THIS TIME x and y are not separate objects")
x = 5 #x will be changed to 5
print("AFTER changing x = 5: x = ",x, " y = ",y, type(x), type(y),id(x), id(y))
print("Now x and y are separate objects")

# This is because int is NOT 4 bytes like C

In [ ]:
x = 10456781678916789678111111111111166666777777777777777777744444444444444444444444444 
y = x #y is pointing to x
print("BEFORE: x = ",x, " y = ",y, type(x), type(y),id(x), id(y))
print("AT THIS TIME x and y are not separate objects")
x = 5 #x will be changed to 5
print("AFTER changing x = 5: x = ",x, " y = ",y,type(x), type(y), id(x), id(y))
print("Now x and y are separate objects")

# / and //operator

In [ ]:
i = 7
print(i/2)

In [ ]:
i = 7
print(i//2)

In [ ]:
print("How to find the midpoint")
l = 0
r = 7
m = (l + r)/2 
print("l =",l ,"r =",r,  " m =",m)

In [ ]:
print("How to find the midpoint")
l = 0
r = 7
m = (l + r)//2 
print("l =",l ,"r =",r,  " m =",m)

In [ ]:
print("How to find the midpoint")
l = 0
r = 7
m = l + (r - l)//2
print("l =",l ,"r =",r,  " m =",m)

# Type conversion
# Conversion function in C++

In [ ]:
k = 7889
print("type of k", type(k), "Value of k =", k)
s = str(k)
print("type of s", type(s), "Value of s =", s)
print("We have converted int 7889 to string '7889'")
k = int(s)
print("type of k", type(k), "Value of k =", k)
print("Now we have converted string '7889' to int 7889")
print("k = int('45z') #This gives an error, because this cannot be converted to a valid integer")

# Control statement: if

In [ ]:
x = 90
if (x > 90):
    print("your mark is = ", x, ".You are fantastic")
    print("your mark is = ", x, ".You are amazing")
print("You are great")

In [ ]:
x = 91
if (x > 90):
    print("your mark =", x, end=". ")
    print("You are amazing")
print("You are great")

# Control statement: if else

In [ ]:
print("In C if (x > 20) {  }")
print ("In Python we use : instead of {")
print("In Python indentation is forced by language")
print("all code below : must have the same tab or space. Dont mix tab and space")
print()
x = 900
if (x > 90): 
    print("1")
    print("2")
    print("3")
    print("4")
else: 
    print("5")
    print("6")
    print(7)
print("junk")

In [ ]:
print("In C if (x > 20) {  }")
print ("In Python we use : instead of {")
print("In Python indentation is forced by language")
print("all code below : must have the same tab or space. Dont mix tab and space")
print()
x = 9
if (x > 90): 
    print("1")
    print("2")
    print("3")
    print("4")
else: 
    print("5")
    print("6")
    print(7)
print("junk")

# Control statement: if elif

In [ ]:
x = 5
if (x > 90):
    print("1")
    print("2")
    print("3")
    print("4")
elif (x > 85):
    print("5")
    print("6")
    print('7')
elif (x > 80):
    print("8")
    print("9")
    print('10')
else:
    print(-420)
print("ahah")

In [ ]:
x = 86
if (x > 90):
    print("1")
    print("2")
    print("3")
    print("4")
elif (x > 85):
    print("5")
    print("6")
    print('7')
elif (x > 80):
    print("8")
    print("9")
    print('10')
else:
    print(-420)
print("ahah")

In [ ]:
x = 81
if (x > 90):
    print("1")
    print("2")
    print("3")
    print("4")
elif (x > 85):
    print("5")
    print("6")
    print('7')
elif (x > 80):
    print("8")
    print("9")
    print('10')
else:
    print(-420)
print("ahah")

# Find the maximum of three numbers

In [ ]:
def findmax(x:'int', y:'int', z:'int')->'int':
    max = 0 
    print("x =",x, "y =" , y , "z =", z)
    if (x > y): #x is bigger
        if (x > z): # x is bigger
            max = x
        else:
            max = z
    else:
        if (y > z): # y is bigger
            max = y
        else:
            max = z
    return max

m = findmax(55,100,200)
print("max m =",m)
m = findmax(100,100,100)
print("max m =",m)
m = findmax(100,200,55)
print("max m =",m)
m = findmax(100.89,200.90,55.00)
print("max m =",m)
#m = findmax("cat",26,"lion")
#print("max m =",m)

### range (Start, Stop, Step)
### range() takes three arguments.
### Out of the three 2 arguments are optional. I.e., Start and Step are the optional arguments.That means Stop IS REQUIRED. Stops at Stop-1
### So by default, it takes start = 0 and step = 1.
### A start argument is a starting number of the sequence. i.e., lower limit. By default, it starts with 0 if not specified.
### A stop argument is an upper limit. i.e.generate numbers up to this number, The range()  function doesn’t include this number in the result.
### The step is a difference between each number in the result. The default value of the step is 1 if not specified.

In [ ]:
print('''ONLY ONE argument. That is STOP''')
for i in range(10):
    print(i," ", end='')
print()

In [ ]:
print('''TWO argument. That is  START and STOP''')
for i in range(3,10):
    print(i," ", end='')
print()

In [ ]:
print('''Three argument. That is  START STOP STEP''')
for i in range(5,17,2):
    print(i," ", end='')
print()

In [ ]:
print("range(17,5,-2) generates sequence starting 17, ending at less than 5, at a distance of -2")
for i in range(17,5,-2):
    print(i," ", end='')
print()

In [ ]:
print("Example 1: range(17,5,2) generates empty sequence")
for i in range(17,5,2):
    print(i," ", end='')

In [ ]:
print("Example 2: range(5,17,-2) generates empty sequence")
for i in range(5,17,-2):
    print(i," ", end='')

In [ ]:
print("Example 3: range(5,17,16) generates sequence of one element ",end='')
for i in range(5,17,16):
    print(i)

In [ ]:
print("Example 4: range(12,1,-3) stops at 3, because next one is 0 which is smaller than 1")
for i in range(12,1,-3):
    print(i," ", end='')
print()

# Is Range and list are equal?

In [ ]:
for i in [0,1,2,3,4,5]:
    print(i," ", end='')
print()
for i in range(0,5):
    print(i," ", end='')
print()
print("Is list == range ?. In python 3, NO but it is true in Python 2")
print(range(0,6) == [0,1,2,3,4,5])
print("Can we convert range to a list?")
print("Yes. This is also called as type conversion")
l = list(range(0,5))
print("type of l", type(l), "Value of l =", l)
l = l + [420]
for i in l:
    print(i," ", end='')
print()

# For and while

In [ ]:
print("Using for")
for i in range(0,5):
    print(i,end = ' ')
print()

In [ ]:
print("Using while")
i = 0 ;
while (i < 5):
    print(i,end = ' ')
    i = i + 1
print()

In [ ]:
print("Using for in list")
list = [78,"cat", True, 7.89]
for i in list:
    print(i,end = ' ')
print()
print("Using while in list")
i = 0 ;
while (i < len(list)):
    print(list[i],end = ' ')
    i = i + 1
print()

# When to use for

In [ ]:
print("Use for when you know the range")
def factors(n):
    num = 1
    print("Factors of ",n, " are: 1  ", end='')
    m = n//2 + 1 #for 100, you need to test until 50 only
    for i in range(2,m):
        if (n % i == 0):
            num = num + 1
            print(i," ", end='')
    print()
    print("number of factors of ", n, " = ", num)
    
factors(1000)
factors(19867989)

# When to use while

In [ ]:
print("Use for when you know the range")
print("Use While when you don't know the range")
print("For example to find integer value of a square root")
def squareroot(n:int)->'int':
    i = 2 ;
    while (i * i <= n):
        i = i + 1
    return i-1 ;

n = 100
print("Integer square root of(", n, ") = ", squareroot(n))
n = 29
print("Integer square root of(", n, ") = ", squareroot(n))
n = 1000
print("Integer square root of(", n, ") = ", squareroot(n))

# Breaking out of while loop

In [ ]:
p = 10 
i = 0 
broke = False #to remember whether if broke or not

while (i < 10):
    if (i == p):
        broke = True
        print("I am breaking at ", i)
        break 
    i=i+1
if (broke == False):
    print("I did not break", i)

In [ ]:
p = 5
i = 0 
broke = False #to remember whether if broke or not

while (i < 10):
    if (i == p):
        broke = True
        print("I am breaking at ", i)
        break 
    i=i+1
if (broke == False):
    print("I did not break", i)

# Breaking out of while loop - Python way

In [ ]:
p = 10 
for i in range(0,10):
    if (i == p):
        print("I am breaking at ", i)
        break ;
else:
    print("This line is executed only when the break never happened. Nothing has to be remembered")
    print("I did not break")

In [ ]:
p = 5 
for i in range(0,10):
    if (i == p):
        print("I am breaking at ", i)
        break 
else:
    print("This line is executed only when the break never happened. Nothing has to be remembered")
    print("I did not break", i)

# Will this Swap?

In [1]:
def swap(x:int,y:int)->'none':
    print("In  Swap x = ", x, " y = ", y)
    t = x 
    x = y  
    y = t ;
    print("Out Swap x = ", x, " y = ", y)
    
x = 100
y = 200
print("Before  Swap x = ", x, " y = ", y)
swap(x,y) 
print("After   Swap x = ", x, " y = ", y)

Before  Swap x =  100  y =  200
In  Swap x =  100  y =  200
Out Swap x =  200  y =  100
After   Swap x =  100  y =  200

# Will this Swap? Dissected

In [2]:
show = True
def swap(x:int,y:int)->'none':
    print("In  Swap x = ", x, " y = ", y)
    if (show):
        print("type of x", type(x), "Value of x =", x,"id of x = ", id(x))
        print("type of y", type(y), "Value of y =", y,"id of y = ", id(y))
    t = x 
    if (show):
        print("after t = x")
        print("type of x", type(x), "Value of x =", x,"id of x = ", id(x))
        print("type of t", type(t), "Value of t =", t,"id of t = ", id(t))
    x = y
    if (show):
        print("after x = y")
        print("type of y", type(y), "Value of y =", y,"id of y = ", id(y))
        print("type of x", type(x), "Value of x =", x,"id of x = ", id(x)) 
    y = t ;
    if (show):
        print("after y = t")
        print("type of t", type(t), "Value of t =", t,"id of t = ", id(t))
        print("type of y", type(y), "Value of y =", x,"id of y = ", id(x))
    print("Out Swap x = ", x, " y = ", y)
    
x = 100
y = 200
if (show):
    print("type of x", type(x), "Value of x =", x,"id of x = ", id(x))
    print("type of y", type(y), "Value of y =", y,"id of y = ", id(y))
print("Before  Swap x = ", x, " y = ", y)
swap(x,y) 
print("After   Swap x = ", x, " y = ", y)
if (show):
    print("type of x", type(x), "Value of x =", x,"id of x = ", id(x))
    print("type of y", type(y), "Value of y =", y,"id of y = ", id(y))

type of x <class 'int'> Value of x = 100 id of x =  4498724496
type of y <class 'int'> Value of y = 200 id of y =  4498727696
Before  Swap x =  100  y =  200
In  Swap x =  100  y =  200
type of x <class 'int'> Value of x = 100 id of x =  4498724496
type of y <class 'int'> Value of y = 200 id of y =  4498727696
after t = x
type of x <class 'int'> Value of x = 100 id of x =  4498724496
type of t <class 'int'> Value of t = 100 id of t =  4498724496
after x = y
type of y <class 'int'> Value of y = 200 id of y =  4498727696
type of x <class 'int'> Value of x = 200 id of x =  4498727696
after y = t
type of t <class 'int'> Value of t = 100 id of t =  4498724496
type of y <class 'int'> Value of y = 200 id of y =  4498727696
Out Swap x =  200  y =  100
After   Swap x =  100  y =  200
type of x <class 'int'> Value of x = 100 id of x =  4498724496
type of y <class 'int'> Value of y = 200 id of y =  4498727696

# Function swap that swap using list

In [3]:
def swap(x:int,y:int)->'list':
    print("In  Swap x = ", x, " y = ", y)
    t = x ;
    x = y ;
    y = t ;
    print("Out Swap x = ", x, " y = ", y)
    return [x,y]
    
x = 100
y = 200
print("Before  Swap x = ", x, " y = ", y)
a = swap(x,y) 
x = a[0]
y = a[1]
print("After   Swap x = ", x, " y = ", y)

Before  Swap x =  100  y =  200
In  Swap x =  100  y =  200
Out Swap x =  200  y =  100
After   Swap x =  200  y =  100

# Function swap that does swap using list

In [3]:
def swap(x:int,y:int)->'list':
    print("In  Swap x = ", x, " y = ", y)
    return [y,x]
    
x = 100
y = 200
print("Before  Swap x = ", x, " y = ", y)
a = swap(x,y) 
print("after calling swap" ,"x = ", x, " y = ", y)
x = a[0]
y = a[1]
print("After   Swap x = ", x, " y = ", y)

Before  Swap x =  100  y =  200
In  Swap x =  100  y =  200
after calling swap x =  100  y =  200
After   Swap x =  200  y =  100

# Function swap that does swap using list

In [ ]:
x = 100
y = 200
print("Before  Swap x = ", x, " y = ", y)
x,y = y,x
print("After   Swap x = ", x, " y = ", y)

# A list l is given. 
## The function f computes some other numbers in another list t
## Contents of t will be written to l
## Will this code works?

In [ ]:
def f(l:'list')->'None':
    print("In function f:",l)
    t = [4,5,6]
    print("t = ",t)
    l = t.copy()
    print("Getting out function f:",l)
    
l = [1,2,3]
print("Before calling f:",l)
f(l)
print("After calling f:",l)

# How do you Fix?

In [ ]:
def f(l:'list')->'None':
    print("In function f:",l)
    t = [4,5,6]
    print("t = ",t)
    i = 0 
    for e in t:
        l[i] = e
        i = i + 1
    print("Getting out function f:",l)
    
l = [1,2,3]
print("Before calling f:",l)
f(l)
print("After calling f:",l)